	<li>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user %>
      <!--make sure that user is signed in-->
 		<% if signed_in? %>
 			<!--check user type-->
 			<% if current_user.admin? || current_user?(user) %>
    		| <%= link_to "Remove User", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  
  			<% end %>
 		<%end%>
      	

    </li>