<% provide(:title, 'Sign up') %>
<h1 class="account_info">Sign up</h1>
<!--Set some style to form-->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
		<!--Create form for user sing up-->
		<%= form_for(@user) do |f|%>
			<!--load file at app/view/users/_fields/html/erb to use in form-->
                  <%=render 'fields', f: f%>
      		<!--create button sign up in the form-->
      		<%= f.submit "Create my account", class: "btn btn-primary btn_commit_signin" %>
		<%end%>
	</div>
</div>