<% provide(:title, "About") %>

<h2>[Blog system requirements]</h2>
<h3>User</h3>
<p>- can sign-up </p>
<p>- can sign-in/sign-out </p>
<p>- can create a entry (display title, body, date)</p>
<p>- can make a comment on a entry (of owner and followed user) (display comment, name and date)</p>
<p>- can follow other users</p>
<p>- can see the latest entries which are posted by following users (with pagination)</p>

<h3>Everyone (including no sign-in user)</h3>
<p>- can read all posts and their comments (with pagination)</p>
<p>- cannot make a comment</p>

<h3>The model names you must use</h3>
<p>- User</p>
<p>- Entry</p>
<p>- Comment</p>
<p>- other model (if you need)</p>

<h3>Your system</h3>
<p>- is deployed on Heroku</p>

<h3>Your code</h3>
<p>- is uploaded on Github</p>
